@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/MS.jpg" class="mb-5" style="position:page; right:0; top:0; left:0; height:80vh; width:100%" />
<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-4">
                <h2 class="service-heading">New Models</h2>
                <p>
                    Duh Road promisses to stock the latest vehicles as soon as they are released.
                    From Mazda, BMW, Toyota, Hyundia, Benz and all the rest, We are never out if supply.
                </p>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301948">Check them out &raquo;</a>
                </p>
            </div>
            <div class="col-md-4 inner">
                <h2 class="service-heading">Insurance</h2>
                <p class="inner-area">
                    We offer same day insurancing on any car you purchase. It has never been easier to cut the lines and keep driving
                </p>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301949">Get insured &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="service-heading">Deals</h2>
                <p>
                    Buy a car and get your choice of rims fitted on it absolutely free. Buy a high end vehicle and get 25% off on a second.
                </p>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301950">Claim your bargain &raquo;</a>
                </p>
            </div>
        </div>
    </main>
</div>


